body {
    background-color: #d6e2f0;
    font-family: 'Outfit', sans-serif;
}

.box {
    background-color: white;
    color: black;
    width: 220px;
    height: 350px;
    margin: 10px;
    padding: 50px;
    border-radius: 20px;
    font-size: 15px;
    
}